{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Delete{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'webapp:collection_detail' collection.pk %}?next={{ request.get_full_path }}">Отмена</a></li>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Вы уверены, что хотите удалить коллекцию "{{ collection.name }}"?</h1>
        <p>{{ collection.countries }}</p>
        <p>{{ collection.years }}</p>
        <pre class="pre">{{ collection.comment }}</pre>
        <form action="{% url "webapp:collection_delete" collection.pk %}" method="post">
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-danger">Подтвердить</button>
            <a href="{% url 'webapp:collection_detail' collection.pk %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}