{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}View{% endblock %}
{% block menu %}
    {% if perms.webapp.delete_collection %}
        <li class="nav-item"><a class="nav-link" href="{% url "webapp:collection_delete" collection.pk %}">Delete<i class="fas fa-trash"></i></a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Название: {{ collection.name }}</h1>
    <p>Страны: {{ collection.countries }}</p>
    <p>Годы: {{ collection.years }}</p>
    <p class="pre">{{ collection.comment }}</p>
    <h1 class="text-center">Монеты пользователя:</h1>
    {% include 'partial/coins_list.html' with coins=collection.coins_coll.all collection_coins=True %}
{% endblock %}