body{
	font-family: 'Raleway', sans-serif;
}
.navbar {
	background: #5bbc2e;
	font-weight: 600;
}
.navbar button{
	font-weight: 700;
	font-size: 14px;
}

table {
	border: 2px solid grey;
	border-collapse: collapse;
	margin: auto;
}
table tr, table td {
	border: 1px dashed grey;
	padding: 3px;
}

.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}


.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled, .mass-actions input {
    display: inline-block;
    border: solid 1px #6c757d;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a, .mass-actions input {
    background: #6c757d;
    color: white;
    text-decoration: none;
}

.pagination a:hover, .mass-actions input:hover {
    background: #585858;
    text-decoration: none;
	color: white;
}

.pagination .page-disabled {
    background: #424242;
    color: #dddddd;
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}


.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

.form-input {
    border-radius: 5px;
    border: solid 1px lightgray;
    background: gray;
    color: white;
    padding: 3px 5px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-error {
    border: solid 1px red;
    background: darkred;
}

.form-error:focus {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}