{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.delete_coin or coin.owner == request.user %}
        <li class="nav-item"><a class="nav-link" href="{% url "webapp:coin_delete" coin.pk %}">Delete<i class="fas fa-trash"></i></a></li>
    {% endif %}
{#    {% if perms.webapp.change_product %}#}
{#        <li><a href="{% url 'product_update' product.pk %}">Update <i class="fas fa-edit"></i></a></li>#}
{#    {% endif %}#}
{% endblock %}

{% block content %}
    <div class="product_view text-center">
        <br>
        {% if coin.picture %}
            <img src="{{ coin.picture.url }}" class="picture" width="auto" height="250" alt="coin picture">
            <br>
        {% else %}
            <img src="{% static 'img/empty.jpg' %}" width="250" height="250" alt="empty picture">
            <br>
        {% endif %}
        <h1>{{ coin.nominal }} {{ coin.currency }} {{ coin.year_of_issue }} [{{ coin.country }}]</h1>
        <br>
        <table>
            <tr>
                <td>Номинал</td>
                <td>Материал</td>
                <td>Валюта</td>
                <td>Страна</td>
                <td>Вес</td>
                <td>Размер</td>
                <td>Форма</td>
                <td>Дата выпуска</td>
                <td>Дата окончания выпуска</td>
                <td>Серия</td>
            </tr>
            <tr>
                <td>{{ coin.nominal }}</td>
                <td>{{ coin.material }}</td>
                <td>{{ coin.currency }}</td>
                <td>{{ coin.country }}</td>
                <td>{{ coin.weight }}</td>
                <td>{{ coin.size }}</td>
                <td>{{ coin.form }}</td>
                <td>{{ coin.year_of_issue }}</td>
                <td>{{ coin.year_of_issue_end }}</td>
                <td>{{ coin.series }}</td>
            </tr>
        </table>
        <hr>
        <label>Описание:</label>
        <pre class="pre">{{ coin.description }}</pre>
    </div>
{% endblock %}