{% extends 'base.html' %}
{% block title %}Coins{% endblock %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:coin_create' %}">Add Coin <i class="fas fa-plus-circle"></i></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Страны
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for country in countries %}
            <li class="dropdown-submenu">
                <a class="dropdown-item" href="{% url "webapp:coin_category" country.pk %}">{{ country.name }}</a>
                <ul class="dropdown-menu">
                    {% for coin in country.coins.all %}
                        <li><a class="dropdown-item" href="{% url "webapp:coin_view" coin.pk %}">{{ coin.nominal }} {{ coin.currency }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
      </ul>
    </li>
{% endblock %}
{% block search %}
    <form class="d-flex input-group w-auto" action="{% url 'webapp:index' %}" method="GET">
      <input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
{% endblock %}
{% block content %}
<h1>Монеты: </h1>
       {% include 'partial/coins_list.html' %}
{% endblock %}
